<ion-header>
  <ion-toolbar>
    <ion-title>Venta de Videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let serie of videojuegos" class="card-juego">
      <ion-label>
        <h2>{{ serie.titulo }}</h2>
        <img [src]="serie.portada" alt="{{ serie.titulo }}" style="max-width: 100px; max-height: 100px; justify-items: center;">
        <p>{{ serie.categoria }}</p>
        <p>{{ serie.descripcion }}</p>
        <a href="{{ serie.link_referencia }}" target="_blank">Más información</a>
        
      </ion-label>

      <div class="acciones">
        <ion-button [routerLink]="['/videojuegos-form', serie.id]">
          Editar
        </ion-button>

        <ion-button (click)="eliminar(serie.id!)">
          Eliminar
        </ion-button>
      </div>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/videojuegos-form">
      +
    </ion-fab-button>
  </ion-fab>

</ion-content>